* {
  touch-action: manipulation !important;
  user-select: none;
  -webkit-touch-action: manipulation !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
	background-color: '#000';
}

.container {
  max-width: 90%;
}

#tetris {
  height: 80vh !important;
}

#preview {
	height: 15vh !important;
}

#tetris {
  border: 5px solid grey;
}

h1, p {
  color: grey;
}

p {
  margin-left: 2px;
}

#modalTitle,
.modal-body {
  display: block;
  margin: 0 auto;
}

button {
  width: 100px;
}

.modal-footer {
  margin: 0 auto;
}

.btn-secondary {
  border-radius: 3px;
}

.modal-header,
.modal-footer {
  border: none !important;
}

.mobile-controls button {
  width: 60px;
  border-color: transparent !important;
  background-color: transparent !important;
}

.mobile-controls button:focus {
  outline: none !important;
}

.fa {
  color: grey;
  font-size: 26px;
}

.mb-up-container {
  margin-bottom: 20px;
}

.mb-down-container {
  margin-top: 20px;
}

.mb-left {
  margin-right: 15px;
}

.mb-right {
  margin-left: 15px;
}

@media screen and (max-width: 640px) {
  #tetris {
    height: 70vh !important;
  }
}

@media screen and (max-width: 530px) {
  #tetris {
    height: 50vh !important;
  }
}