body {
	background-color: '#000';
}

.container {
  max-width: 90%;
}

#tetris {
  height: 80vh !important;
}

#preview {
	height: 15vh !important;
}

#tetris {
  border: 5px solid grey;
}

h1, p {
  color: grey;
}

p {
  margin-left: 2px;
}

#modalTitle,
.modal-body {
  display: block;
  margin: 0 auto;
}

button {
  width: 100px;
}

.modal-footer {
  margin: 0 auto;
}

.btn-secondary {
  border-radius: 3px;
}

.modal-header,
.modal-footer {
  border: none !important;
}

.mobile-controls {
  margin: 0 auto !important;
}

.mobile-controls button {
  width: 100px;
  height: 100px;
  border-color: transparent !important;
  background-color: transparent !important;
}

.fa {
  color: grey;
  font-size: 26px;
}

.fa-arrow-down {
  margin-top: 
}



@media screen and (max-width: 640px) {
  #tetris {
    height: 70vh !important;
  }
}

@media screen and (max-width: 530px) {
  #tetris {
    height: 50vh !important;
  }
}